// Colors

$main-color-yellow: #fce500;
$secondary-color-dark: #121212;
$input-color-gray: #505050;

// FONTS

$main-font: "Suisse Intl", sans-serif;
$secondary-font: "Suisse Intl Bold", sans-serif;

// OTHERS

$transform-duration: 0.3s;
